/* prettier-ignore */

.page-container {
	margin:20px 10px;

}

h2 {
	padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/


	
	/*
	padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
  border-left: solid 5px #7db4e6;

  border-bottom: solid 5px #7db4e6;



	padding: 0.5em;
  color: #010101;
  background: #eaf3ff;/
  border-bottom: solid 3px #516ab6;


	margin-top:10px;
	border: solid 3px #364e96;
  padding: 0.5em;
  border-radius: 0.5em;

	border-bottom: double 3px #516ab6;
	*/

}


h3{

	padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;

}
